<!-- app/templates/errors/500.html -->

{% extends "base.html" %}
{% block title %}Server Error{% endblock %}
{% block content %}

<div class="container is-widescreen">
    <div class="notification is-danger">
        <h1><strong>500 Error</strong></h1>
        <h3> O servidor encontrou um erro interno. É tudo o que sabemos. </h3>
        <a href="{{ url_for('main.index') }}">
            <i class="fa fa-home"></i>
            Home
        </a>
    </div>
</div>

<div class="container is-widescreen">
    <div class="notification is-light">
        <img src="../../static/images/500.svg" alt="500" width="600" height="600">>
    </div>
</div>
{% endblock %}