wheel
flask
flask_sqlalchemy
flask_login
flask-socketio
Werkzeug
mysqlclient
Flask-Session
PyMySQL
#uWSGI
python-dotenv
pytest
pytest-flask
flask-shell-ipython
#Gunicorn
#gevent
#gevent-websocket
#eventlet
simple-websocket