{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Lorem Ipsum
</h1>
<h2 class="subtitle">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tincidunt libero, et commodo ante. Curabitur bibendum tellus id augue viverra consequat. Vestibulum ac justo in diam facilisis dictum. Quisque semper arcu mauris, vestibulum auctor est gravida nec. Etiam varius fermentum nulla eget consequat. Donec tristique risus eu pharetra vulputate. Nunc gravida accumsan metus eget volutpat. Duis sit amet pharetra metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec aliquet, augue vitae malesuada facilisis, est massa consectetur mi, at hendrerit metus massa vel dolor. Integer nec tortor nunc. Nullam ut venenatis nibh. Nulla facilisi. Nam vitae lorem mauris.
</h2>
{% endblock %}