{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Vá para a página de <a href="{{ url_for('auth.login') }}">login</a>.
        </div>
    {% endif %}
    {% endwith %}
    <h3 class="title">Cadastro</h3>
    <div class="box">
     
        <form method="POST" action="/signup">
            <div class="field">
                <label class="label is-left">Email</label>
                <div class="control has-icons-left">
                    <input class="input is-medium" type="email" name="email" placeholder="Email" autofocus="">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label is-left">Nome do Usuário</label>
                <div class="control has-icons-left">
                    <input class="input is-medium" type="text" name="name" placeholder="Nome" autofocus="">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label is-left">Senha</label>
                <div class="control has-icons-left">
                    <input class="input is-medium" type="password" name="password" placeholder="Senha">
                    <span class="icon is-small is-left">
                        <i class="fas fa-unlock"></i>
                    </span>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}