{% extends "base.html" %}

{% block content %}
<section id="colored-dna-back" class="hero is-white are-medium">
<div class="hero-body">
  <div class="container">
    <div class="columns  is-vcentered reverse-columns">
      <div class="column">
        <h1 class="has-text-info title ">
          Bem-Vindo ao BlueChat
        </h1>
        <h2>Envie e receba mensagens de todos os lugares do mundo.</h2>
      </div>
      <div data-aos="fade-right" class="column">
        <figure class="image is-square">
          <img src="../../static/images/home.svg" alt="Home" width="500" height="600">
        </figure>
      </div>

    </div>
  </div>
</div>
</section>






</html>
{% endblock %}